/* work sans font */

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: SemiBold;
  }

  .work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: Bold;
  }

*{
    font-family: "Work Sans", sans-serif; ;
}

/* shared styles */
.btn-primary{
    background: rgb(255, 144, 14);
    border: 0;
    color: white;
    padding: 20px 24px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor:pointer;
}


.text-light-gray{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
   
}


/* header styles */

header{
   
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {

    display: flex;


}


nav li{
   list-style-type: none;
   margin-right: 30px;
   font-weight: 500;
   font-size: 1rem;
   align-items: center;

}

nav li a{

    text-decoration: none;
    color: rgb(66, 66, 66);

}

.section-title{

    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
  
}



/* banner styles */


.banner-title{

    color: rgb(19, 19, 19);
    font-size: 4rem;
   font-weight: 700;
   text-align: center;
   
}




.banner{
   
   
   
}

.banner-content{
   max-width: 800px;
   text-align: center;
   
   margin: 0 auto;
  
}

.banner img{
    width: 100%;
    margin-top: 20px;

}


/* main section styles started */

.left-content{
    max-width: 500px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,1fr); */
}

.first-main-container{
    display: flex;
    gap: 50px;
    margin-left: 20px;
    margin-top: 50px;
}


.right-content{
    max-width: 500px;
    padding-left: 200px;
    padding-top: 200px;
   


}


/* main section styles */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teams section styles */


.teams-container{
    display: flex;
    align-items: center;
    gap: 76px;
    
}

.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.teams-content{
   padding-right: 70px;
   padding-left: 70px;
}

.teams-content-title{
    font-size: 2.6rem;
    
}

.teams-content-title .Quick-list{
    color: rgb(114, 114, 114);
     font-weight: 500; 
}


.teams-content-title .of-Our{
    color: rgb(19, 19, 19);
}


.teams-content-title .text-features{
    color: rgb(255, 144, 14);
    font-weight: 700;
}

.teams-content .text-light-gray{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}


.features-container{
    display: flex;
    margin-top: 10rem;
   
}


























/* responsive media queries */

/* mobile device */
@media screen and (max-width:576px) {
    
    header{
        padding: 20px;
    }

    nav{
        flex-direction: column;
    }
        ul> li{
            flex-direction: column;
        }


    }


    /* tablet or media devices */

    @media screen and (min-width:576px) and (max-width:960px) {


        header{

            padding: 50px;

        }
    
        nav{
            flex-direction: column;

        }

    }

    @media screen and (max-width:576px) {

        .teams-container{
            flex-direction: column-reverse;
        }

        .teams-image-container{
           grid-template-columns: 1fr;
        }
    }
    .teams-content{
        padding-right: 20px;
        padding-left: 20px;
     }


    @media screen and (min-width:576px) and (max-width:960px) {


        .teams-container{
            flex-direction: column-reverse;
            text-align: center;
        }


    }

    .teams-content{
        padding-right: 40px;
        padding-left: 40px;
     }